body {
  margin: 0;
  padding: 0;
  background-color: #a6c4fe;
  font-family: minecraft;
}

@keyframes float {
  from {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  to {
    transform: translateY(0);
  }
}
@font-face {
  font-family: minecraft;
  src: url(/font/Minecraft.ttf);
}
@font-face {
  font-family: supermario;
  src: url(/font/Super\ Mario\ Bros.\ 2.ttf);
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.navbar a {
  font-size: 32px;
  color: #1e1e1e;
  text-align: center;
  padding: 68px 22px;
  text-decoration: none;
}

.logo {
  margin-right: 300px;
}

.logo img {
  width: 125px;
  height: 92px;
}

.icon {
  margin-left: 300px;
}

.icon img {
  width: 92px;
  height: 92px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.gatto {
  width: 80%;
  max-width: 436px;
  height: auto;
  margin: 20px;
  animation: float 2s ease-in-out infinite;
}

.dialog-container {
  width: 645px;
  height: 271px;
  position: relative;
}

.dialog {
  width: 100%;
  height: 100%;
}

.dialogtext {
  position: absolute;
  top: 22%;
  left: 56%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 26px;
  width: 80%;
}

.button-container {
  text-align: center;
  margin: 20px;
}

.bottone-inizia {
  background-image: url(/img/button.png);
  width: 80%;
  max-width: 330px;
  height: 102px;
  background-size: cover;
  background-position: center;
  border: none;
  cursor: pointer;
  text-align: center;
  color: white;
  font-family: minecraft;
  font-size: 48px;
  display: block;
  margin-top: 20%;
  margin-left: 30%;
  transform: translateY(-220px);
}

.collegamentosteam {
  text-align: center;
  font-size: 26px;
  margin: 20px auto;
  margin-left: 550px;
  transform: translateY(-110px);
}

.personaggi-steam {
  font-family: supermario;
  text-align: center;
  font-size: 62px;
  color: #1e1e1e;
  margin: 70px 0;
}

.custom-link {
  color: #5465ff;
  text-decoration: none;
}

.custom-link:hover {
  color: #5465ff;
}

.custom-link:active {
  color: #5465ff;
}

.custom-link:visited {
  color: #5465ff;
}

.carousel-container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  overflow: hidden;
  margin: 20px auto;
}

.carousel {
  display: flex;
  transition: transform 0.3s ease-in-out;
  gap: 20px;
}

.card {
  width: 30%;
  min-width: 200px;
  min-height: 495px;
  height: auto;
  flex: 0 0 auto;
  margin: 0 auto;
  padding: 60px;
  background-color: #95acff;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  font-size: 32px;
}

.card img {
  width: 200px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #444;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  z-index: 1;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.carousel-button.left {
  left: 10px;
}

.carousel-button.right {
  right: 10px;
}

.carousel-button:hover {
  background-color: #333;
}

footer {
  background-color: #5c6cfa;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 230px;
  bottom: 0;
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: center; /* Added this line */
  align-items: center;
}

.footer-text {
  font-size: 48px;
  text-align: center;
}

.footer-button {
  font-size: 48px;
  font-family: minecraft;
  background-image: url(/img/button.png);
  color: #fff;
  border: none;
  min-width: 330px;
  height: 102px;
  transform: translateY(-30px);
}

@media (max-width: 1200px) {
  .navbar {
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .logo {
    margin-right: 0;
  }
  .icon {
    margin-left: 0;
  }
  .navbar a {
    font-size: 28px;
    padding: 34px 11px;
  }
  .dialogtext {
    font-size: 22px;
  }
  .bottone-inizia {
    font-size: 36px;
  }
  .collegamentosteam {
    font-size: 20px;
  }
  .personaggi-steam {
    font-size: 48px;
  }
  .card {
    font-size: 24px;
  }
  .fine-pagina {
    font-size: 36px;
  }
  .torna-su {
    font-size: 36px;
  }
}

@media (max-width: 768px) {
  .navbar {
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .logo {
    margin-right: 0;
  }
  .icon {
    margin-left: 0;
  }
  .navbar a {
    font-size: 24px;
    padding: 34px 11px;
  }
  .dialogtext {
    font-size: 18px;
  }
  .bottone-inizia {
    font-size: 24px;
    margin: 0 auto;
  }
  .collegamentosteam {
    font-size: 18px;
  }
  .personaggi-steam {
    font-size: 36px;
  }
  .card {
    font-size: 18px;
  }
  .fine-pagina {
    font-size: 24px;
  }
  .torna-su {
    font-size: 24px;
  }
}
